.todo-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.todo-title-date {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  border-radius: 15px 15px 0px 0px;
}

.description-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 10px;
}

.todo-description {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.function-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 10px;
}

.button-todo {
  margin-top: 5px;
}
.button-todo:hover {
  cursor: pointer;
}
